body{
    background-image: url('https://www.gamecrate.com/sites/default/files/field/image/Classic-Wow-1.jpg');
    font-family: 'Roboto',monospace;
}
#startRep{
    color: white;
    font-size: 36px;
    position: absolute;
    left : 25%;
}
.letters{
    position: absolute;
    top:25%;
    left: 25%;
    height: 30%;
    width: 50%;
    background-color: black;
    text-align: center;
    border-color: red;
    border-radius: 10px;
    border-width: 5px;
    border-style: groove;
    
}
#guesses{
    color: white;
    font-size: 24px;
    position: absolute;
    top: 32%;
    left: 5%;
}
#lettersGuessed{
    color: white;
    font-size: 24px;
    position: absolute;
    top: 45%;
    left: 5%;
}
#rep{
    color: white;
    font-size: 36px;
    position: absolute;
    top: 15%;
    left: 37.5%;
    text-align: center;
}
#userGuesses{
    color: white;
    font-size: 36px;
    position: absolute;
    top: 10%;
    left: 35%;
}