body{
    background-image: url('https://www.gamecrate.com/sites/default/files/field/image/Classic-Wow-1.jpg');
    
}

#rep{
    color: white;
    font-size: 36px;
}
.letters{
    position: absolute;
    top:25%;
    left: 35%;
    height: 15%;
    width: 30%;
    background-color: black;
    text-align: center;
    
}
#guesses{
    color: white;
    font-size: 24px;
    position: absolute;
    top: 30%;
    left: 30%;
}
#lettersGuessed{
    color: white;
    font-size: 24px;
    position: absolute;
    top: 40%;
    left: 30%;
}
#rep{
    color: white;
    font-size: 36px;
}
#userGuesses{
    color: white;
    font-size: 44px;
    position: absolute;
    top: 0%;
    left: 15%;
}